*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #f8f7f6;
	margin: 0 atuo;
}
ul, li, ol{
	list-style: none;
	float: left;
}
li{
	cursor: pointer;
}
a{
	cursor: pointer;
	text-decoration: none;
	color: #000;
}
p{
	cursor: pointer;
	/*float: left;*/
}

/*bigtop start*/
.bigtop{
	width: 100%;
	height: 130px;
	margin: 0 auto;
	background-color: #fff;
	z-index: 1000;
}
/*top start*/
.top{
	width: 1180px;
	margin: 0 auto;
}
.topa{
	width: 1180px;
	height: 25px;
}
.topaa{
	width: 360px;
	height: 15px;
	float: left;
	margin-top: 10px;
}
.topaa p{
	font-size: 13px;
	color: #b1b0af;
	cursor: pointer;
}
.topaa p:hover{
	color: #fe6c00;
}
.topab{
	height: 20
	width: 82px;
	float: right;
	margin-top: 5px;
	color: #b1b0af;
	font-size: 13px;
}
.topab ul{
	float: right;
}
.topab li{
	margin: 0 10px;
	cursor: pointer;
}
.topab li:hover{
	color: #fe6c00;
}
.topab li:last-child{
	margin: 0;
}
.topab img{
	width: 19px;
	height: 19px;
	float: left;
}
.topimg1{
	width: 19px;
	height: 19px;
	background: url("../img/common_min.png");
	background-position: 0 -31px;
}
.topimg2{
	width: 19px;
	height: 19px;
	background: url("../img/common_min.png");
	background-position: 0 -53px;
}
.topimg3{
	width: 19px;
	height: 19px;
	background: url("../img/common_min.png");
	background-position: 0 -75px;
}
.topimg4{
	padding-left: 22px
	background: url("../img/common_min.png");
	background-repeat: no-repeat;
	background-position: -2px -113px;
}
.topimg5{
	padding-left: 20px;
	background: url("../img/dingdan.jpg");
	background-repeat: no-repeat;
	background-position: 3px 2.5px;
}
.topimg6{
	padding-left: 20px;
	background: url("../img/phone.png");
	background-repeat: no-repeat;
	background-position: 4.5px 0px;
}
.topimg7{
	padding-left: 22px;
	background: url("../img/gouwuche.jpg");
	background-repeat: no-repeat;
	background-position: 0px 1px;
}
.topb{
	width: 1180px;
	height: 95px;
	margin: 10px auto 0 auto;
}
.topba{
	width: 170px;
	height: 75px;
	float: left;
	background: url("../img/logo_03.jpg") no-repeat;
	background-position: 
}
.topbb{
	width: 750px;
	height: 75px;
	float: left;
}
.topfind{
	width: 580px;
	height: 35px;
	margin: 15px auto 0 auto;
	border: 5px solid #fe6c00;
	border-radius: 5px;
	background: #fe6c00;
}
.topfind input{
	width: 82%;
	height: 35px;
	float: left;
	padding-left: 10px;
	border: 0px solid #fe6c00;
	background: #fff;
}
.topfind button{
	width: 15%;
	height: 35px;
	float: right;
	background-color: #fe6c00;
	border: 0px solid #fe6c00;
	color: #fff;
	font-size: 14px;
}
.topmsg{
	width: 580px;
	height: 12px;
	margin: 8px auto 0 auto;
}
.topmsg li{
	font-size: 13px;
	color: #b1b0af;
	padding-right: 6px;
	margin-right: 6px;
	background: url("../img/shuxian.jpg") no-repeat;
	background-position: right;
	cursor: pointer;
}
.topmsg li:last-child{
	background: none;
}
.topbc{
	width: 255px;
	height: 48px;
	float: right;
}
.topbca{
	width: 83px;
	height: 30px;
	padding: 5px 0;
	float: left;
	margin-top: 15px;
	border: 1px solid #b1b0af;
	border-radius: 5px;
	text-align: center;
}
.topbca div{
	width: 83px;
	height: 20px;
	background: url("../img/common_min.png") no-repeat;
}
.topbca p{
	font-size: 10px;
	color: #000;
}
.topbcb{
	width: 84px;
	height: 20px;
	padding: 11px 0;
	float: left;
	margin-top: 15px;
	background-color: #ff4d04;
	border-radius: 5px;
	text-align: center;
}
.topbcb img{
	float: left;
	margin-top: 2px;
	margin-left: 4px;
}
.topbcb a{
	float: left;
	margin-left: 5px;
	font-size: 14px;
	color: #fff;
}
.bigtopc{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #ff4d04;
	margin: 0 auto;
	background: #fff;
}
.topc{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
	background: #fff;
}
.topca{
	width: 170px;
	height: 17px;
	padding: 11.5px 0;
	float: left;
	text-align: center;
	background-color: #ff4d04;
}
.topca p{
	color: #fff;
	font-size: 17px;
}
.topcb{
	width: 800px;
	height: 40px;
	float: left;
}
.topcb li{
	font-size: 17px;
	color: #000;
	margin-left: 50px;
	padding: 10px 0;
}
.topcb li:hover{
	color: #fe6c00;
}
.topcb img{
	position: absolute;
	top: 130px;
}

/*top over*/

/*beside start*/
/*beside over*/

/*banner start*/
.banner{
	width: 1180px;
	height: 545px;
	margin: 0 auto;
}
.bannera{
	width: 170px;
	height: 545px;
	float: left;
}
.banneraa{
	width: 170px;
	height: 425px;
	border-bottom: 1px solid #ff4d04;
}
.banaaa{
	width: 25px;
	height: 425px;
	float: left;
	background-color: #4c4c4a;
}
.banaaa ul{
	width: 15px;
	height: 425px;
	padding: 5px;
}
.banaaa li{
	width: 15px;
	height: 15px;
	margin-top: 5px;
	font-size: 15px;
	color: #ff4d04;
}
.banaab{
	width: 145px;
	height: 425px;
	float: left;
	background-color: #fff;
}
.banaab ul{
	padding: 4px;
}
.banaab li{
	font-size: 12px;
	color: #000;
}
.banul{
	padding: 0;
	margin-top: 8px;
}
.banul li{
	margin: 0 4px;
}
.banul li:hover{
	color: #fe6c00;
}
.bannerab{
	width: 170px;
	height: 119px;
	background-color: #fff;
}
.bannerab div{
	width: 150px;
	height: 25px;
	padding: 9px 10px 5px 10px;
}
.bannerab img{
	float: left;
}
.bannerab a{
	font-size: 13px;
	margin-left: 5px;
}
.bannerab a:hover{
	color: #fe6c00;
}
.bannerb{
	width: 800px;
	height: 545px;
	float: left;
}
.bannerba{
	width: 800px;
	height: 360px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.banba{
	width: 6400px;
	height: 360px;
	position: absolute;
	left: -800px;
}
.banbaimg{
	width: 800px;
	overflow: hidden;
	float: left;
	z-index: 0;
}
#banleft{
	width: 80px;
	height: 60px;
	position: absolute;
	top: 150px;
	left: 20px;
	cursor: pointer;
	display: none;
	background: url("../img/btn.gif") no-repeat;
	z-index: 999;
}
#banright{
	width: 80px;
	height: 60px;
	position: absolute;
	top: 150px;
	right: 0px;
	cursor: pointer;
	display: none;
	background: url("../img/btn.gif") no-repeat;
	background-position: 0 -60px;
	z-index: 999;
}
#nav{
	width: 150px;
	height: 20px;
	position: absolute;
	top: 325px;
	left: 42%;
	z-index: 999;
}
#nav li{
	width: 20px;
	height: 20px;
	margin-left: 5px;
	border-radius: 10px;
	background: #fff;
	text-align: center;
}
#nav li.active{
	background: #ff4d04;
}
.bannerbb{
	width: 800px;
	height: 183px;
	border-top: 2px solid #ff4d04;
}
.banbbimg{
	width: 200px;
	height: 183px;
	float: left;
}
.bannerc{
	width: 210px;
	float: left;
	background-color: #fff;
}
.bannerca{
	width: 210px;
	height: 360px;
	color: #ff4d04;
}
.bancaa{
	width: 180px;
	height: 16px;
	padding: 13px 15px ;
	border-bottom: 1px solid #b1b0af;
	background: url("../img/jiantou.jpg") no-repeat;
	background-position: 180px center;
	background-clip: border-box;
}
.bancaa img{
	float: left;
}
.bancaa a{
	float: left;
	font-size: 13px;
	color: #fe6c00;
	margin-left: 10px;
}
.bancab{
	width: 210px;
	height: 317px;
	border-bottom: 2px solid #b1b0af;
	overflow: hidden;
}
.bancab li{
	padding: 7px 15px;
	font-size: 11px;
	color: #fe6c00;
}
.bannercb{
	width: 180px;
	height: 165px;
	padding: 10px 15px;
}
.bannercb p{
	margin-top: 5px;
	font-size: 12px;
}
.bannercb img{
	float: left;
	margin-right: 10px;
}
.bannercb span{
	color: #fe6c00;
}
.bannercb input{
	width: 150px;
	float: left;
	margin-top: 10px;
	padding: 5px;
	font-size: 12px;
	border: 1px solid #ccc;
}
.bannercb select{
	margin-top: 10px;
}
.bannercb a{
	margin-top: 10px;
	float: center;
	color: #fe6c00;
	font-size: 15px;
}
.bannercb button{
	width: 177px;
	height: 35px;
	margin-top: 10px;
	background-color: #fe6c00;
	color: #fff;
	border-radius: 5px;
	border: 0;
}
/*banner over*/

/*bottom start*/
.bottom{
	width: 100%;
	height: 180px;
	margin: 0 auto;
}
.bottoma{
	width: 1180px;
	height: 180px;
	margin: 0 auto;
}
.bottomaa{
	width: 170px;
	height: 180px;
	float: left;
}
.bottomaa img{
	margin: 0 auto;
}
.bottomab{
	width: 760px;
	height: 180px;
	padding-left: 40px;
	float: left;
	border-bottom: 1px solid #b1b0af;
}
.botab{
	width: 100px;
	height: 180px;
	margin-left: 25px;
	float: left;
}
.botab ul{
	width: 120px;
	margin-top: 30px;
}
.botab li{
	width: 120px;
	font-size: 13px;
	color: #b1b0af;
	line-height: 25px;
}
.botab li:first-child{
	font-size: 15px;
	color: #000;
}
.bottomac{
	width: 210px;
	height: 180px;
	float: left;
	text-align: center;
	border-bottom: 1px solid #b1b0af;
}
.bottomac img{
	margin-top: 30px;
}
.bottomb{
	width: 1180px;
	margin: 0 auto;
	text-align: center;
}
.bottomba{
	width: 660px;
	height: 20px;
	margin: 15px auto 0 auto;
	text-align: center;
}
.bottomba li{
	padding: 0 15px;
	background: url("../img/shuxian.jpg") no-repeat;
	background-position: right;
	font-size: 11px;
	color: #b1b0af;
}
.bottomba li:last-child{
	background: none;
}
.bottombb{
	width: 1000px;
	margin: 0 auto;
	line-height: 23px;
	font-size: 11px;
	color: #b1b0af;
}
.bottombb p{
	cursor: text;
}
/*bottom over*/

/*beside start*/
#bigbes{
	position: fixed;
	top: 100px;
	right: -80px;
}
.beside{
	width: 123px;
	margin-left: 20px;
	position: relative;
}
.beside ul{
	width: 123px;
}
.beside li{
	width: 123px;
	margin-top: 5px;
}
.besidea{
	width: 123px;
	height: 105px;
	background: url("../img/consult-s.png") no-repeat;
	background-position: -5px 0;
	position: absolute;
	top: 0;
}
.besidea img{
	margin-top: 60px;
}
.besideb{
	width: 123px;
	height: 140px;
	background: #fd9a6e;
	position: absolute;
	top: 110px;
}
.besideb img{
	float: left;
}
.besba{
	width: 63px;
	height: 60px;
	padding: 40px 0;
	float: right;
	text-align: left;
}
.besba p{
	font-size: 12px;
	color: #fff;
}
.besba button{
	width: 45px;
	height: 20px;
	margin-top: 15px;
	font-size: 12px;
	background: #fd9a6e;
	border: 1px solid #fff;
}
.besidec{
	width: 123px;
	height: 160px;
	background: #fd9a6e;
	position: absolute;
	top: 255px;
}
.besided{
	position: absolute;
	top: 420px;
}
/*beside over*/